.custom-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-family: "Inconsolata";
}

.custom-table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

/* .custom-tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
} */

.custom-th,
.custom-td {
  padding: 0.625em;
  text-align: center;
}

.custom-th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .custom-table {
    border: 0;
  }

  .custom-table caption {
    font-size: 1.3em;
  }

  .custom-thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .custom-tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .custom-td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.9em;
    text-align: right;
    height: 15px;
  }

  .custom-td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .custom-td:last-child {
    border-bottom: 0;
  }
}

/* General styling */
/* body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
} */
